/.vscode
main.exp
main.lib
main.pdb
main
main.exe
obj/builtins.o
obj/cmd.o
obj/credentials.o
obj/IO.o
obj/main.o
obj/shell.o
obj/signal.o
obj/string.o
obj/utils.o
obj/var.o
obj/string_array.o
asn.exe
asn.exp
asn.lib
asn.pdb
a.out
str_split_results/default
str_new_results/default
shell_results/default
asn
tmp.txt
gmon.out